<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
        <td>Before starting</td>
        <td><a href="#setup">Complete Setup (see below)</a></td>
      </tr>
      <tr>
        <td>08:30</td>
        <td>Welcome and Opening of the workshop</td>
        </tr>
      <tr>
        <td>09:30</td>
        <td>Data Access from OBIS 
          <a href="https://www.youtube.com/watch?v=9PSPEtqgjUI&amp;list=PLlgUwSvpCFS4TS7ZN0fhBy
j_3EBZ5lXbF&amp;index=11">[1]</a>
          <a href="https://www.youtube.com/watch?v=8Ep4fGICQWU&amp;list=PLlgUwSvpCFS4TS7ZN0fh
Byj_3EBZ5lXbF&amp;index=12">[2]</a>
        </td>
      </tr>
      <tr>
        <td>10:30</td>
        <td>COFFEE BREAK</td>
        </tr>
      <tr>
        <td>11:00</td>
        <td>Data Access from OBIS
          <a href="https://www.youtube.com/watch?v=Hocr3N6zpH0&amp;list=PLlgUwSvpCFS4TS7ZN0fhB
yj_3EBZ5lXbF&amp;index=13">[1]</a>
          <a href="https://manual.obis.org/access.html">[2]</a>
          <a href="https://manual.obis.org/ipt.html">[3]</a></td>
        </tr>
      <tr>
        <td>12:30</td>
        <td>LUNCH</td>
        </tr>
      <tr>
        <td>13:30</td>
        <td>Introduction to data standards and formatting
          <a href="https://manual.obis.org/darwin_core.html">OBIS Manual DwC</a>
          <a href="https://www.youtube.com/watch?v=LKujcxk7DQo&amp;list=PLlgUwSvpCFS7w1Yj43J
al5X7FgVbT7Met&amp;index=10">Introduction to Darwin Core: More Than The Sum Of Its Parts</a>
          <a href="https://manual.obis.org/dna_data.html
https://www.youtube.com/watch?v=FO9sPtB47r0&amp;list=PLlgUwSvpCFS7w1Yj43Jal5X7F
gVbT7Met&amp;index=16">eDNA</a>
        </td>
      </tr>
      <tr>
        <td>15:00</td>
        <td>COFFEE BREAK</td>
        </tr>
      <tr>
        <td>15:30</td>
        <td>Planning for your data collection</td>
        </tr>
      <tr>
        <td>17:30</td>
        <td>Adjourn</td>
        </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>
        <td>08:30</td>
        <td>Fieldwork; visit a rocky shore.</td>
        </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr>
        <td>09:00</td>
        <td>Photoquadrant processing</td>
        </tr>
      <tr>
        <td>10:30</td>
        <td>COFFEE BREAK</td>
        </tr>
      <tr>
        <td>11:00</td>
        <td>Photoquadrant processing</td>
        </tr>
      <tr>
        <td>12:30</td>
        <td>LUNCH</td>
        </tr>
      <tr>
        <td>13:30</td>
        <td>Photoquadrant processing</td>
        </tr>
      <tr>
        <td>15:00</td>
        <td>COFFEE BREAK</td>
        </tr>
      <tr>
        <td>15:30</td>
        <td>Photoquadrant processing</td>
        </tr>
      <tr>
        <td>17:30</td>
        <td>Adjourn</td>
        </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr>
        <td>08:30</td>
        <td>Photoquadrant processing</td>
        </tr>
      <tr>
        <td>10:30</td>
        <td>COFFEE BREAK</td>
        </tr>
      <tr>
        <td>11:00</td>
        <td>Dataset curation and processing</td>
        </tr>
      <tr>
        <td>12:30</td>
        <td>LUNCH</td>
        </tr>
      <tr>
        <td>13:30</td>
        <td>Dataset curation and processing</td>
        </tr>
      <tr>
        <td>15:00</td>
        <td>COFFEE BREAK</td>
        </tr>
      <tr>
        <td>15:30</td>
        <td>Dataset curation and processing</td>
        </tr>
      <tr>
        <td>17:30</td>
        <td>Adjourn</td>
        </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 5</h3>
    <table class="table table-striped">
      <tr>
        <td>08:30</td>
        <td>Publishing your data in OBIS</td>
        </tr>
      <tr>
        <td>10:30</td>
        <td>COFFEE BREAK</td>
        </tr>
      <tr>
        <td>11:00</td>
        <td>Publishing your data in OBIS</td>
        </tr>
      <tr>
        <td>12:30</td>
        <td>LUNCH</td>
        </tr>
      <tr>
        <td>13:30</td>
        <td>CONCLUSIONS AND CLOSURE</td>
        </tr>
      <tr>
        <td>14:30</td>
        <td>End</td>
      </tr>
    </table>
  </div>
</div>
