<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="#setup">Complete Setup (see below)</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>08:30</td>        <!-- time    -->
        <td>Welcome and Opening of the workshop</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>09:30</td>        <!-- time    -->
        <td>Data Access from OBIS</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:30</td>        <!-- time    -->
        <td>COFEE BREAK</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:00</td>        <!-- time    -->
        <td>Data Access from OBIS</td>        <!-- content -->
      </tr><tr>               <!-- row 3   -->
        <td>12:30</td>        <!-- time    -->
        <td>LUNCH</td>        <!-- content -->
      </tr><tr>               <!-- row 3   -->
        <td>13:30</td>        <!-- time    -->
        <td>Introduction to data standards and formatting</td>        <!-- content -->
      </tr><tr>               <!-- row 3   -->
        <td>15:00</td>        <!-- time    -->
        <td>COFEE BREAK</td>        <!-- content -->
      </tr><tr>               <!-- row 3   -->
        <td>15:30</td>        <!-- time    -->
        <td>Planing for your data collection</td>        <!-- content -->
      </tr>
      </tr><tr>               <!-- row 3   -->
        <td>17:30</td>        <!-- time    -->
        <td>Adjourn</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>08:30</td>        <!-- time    -->
        <td>Fieldwork; visit a rocky shore.</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>09:00</td>        <!-- time    -->
        <td>Photoquadrant processing</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>10:30</td>        <!-- time    -->
        <td>COFEE BREAK</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:00</td>        <!-- time    -->
        <td>Photoquadrant processing</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>12:30</td>        <!-- time    -->
        <td>LUNCH</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>13:30</td>        <!-- time    -->
        <td>Photoquadrant processing</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>15:00</td>        <!-- time    -->
        <td>COFEE BREAK</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>15:30</td>        <!-- time    -->
        <td>Photoquadrant processing</td>        <!-- content -->
      </tr>      
      <tr>               <!-- row 3   -->
        <td>17:30</td>        <!-- time    -->
        <td>Adjourn</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>08:30</td>        <!-- time    -->
        <td>Photoquadrant processing</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>10:30</td>        <!-- time    -->
        <td>COFEE BREAK</td>        <!-- content -->
      </tr>
       <tr>               <!-- row 1   -->
        <td>11:00</td>        <!-- time    -->
        <td>Dataset curation and processing</td>        <!-- content -->
      </tr>
       <tr>               <!-- row 1   -->
        <td>12:30</td>        <!-- time    -->
        <td>LUNCH</td>        <!-- content -->
      </tr>
       <tr>               <!-- row 1   -->
        <td>13:30</td>        <!-- time    -->
        <td>Dataset curation and processing</td>        <!-- content -->
      </tr>
       <tr>               <!-- row 1   -->
        <td>15:00</td>        <!-- time    -->
        <td>COFEE BREAK</td>        <!-- content -->
      </tr>
       <tr>               <!-- row 1   -->
        <td>15:30</td>        <!-- time    -->
        <td>Dataset curation and processing</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 1   -->
        <td>17:30</td>        <!-- time    -->
        <td>Adjourn</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- day 5 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>08:30</td>        <!-- time    -->
        <td>Publishing your data in OBIS</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>10:30</td>        <!-- time    -->
        <td>COFEE BREAK</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:00</td>        <!-- time    -->
        <td>Publishing your data in OBIS</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>12:30</td>        <!-- time    -->
        <td>LUNCH</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>13:30</td>        <!-- time    -->
        <td>CONCLUSIONS AND CLOSURE</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>14:30</td>
        <td>End</td>
      </tr>
    </table>
  </div>
</div>
